language: python
python:
    - '2.6'
    - '2.7'
    - '3.2'
    - '3.3'
    - '3.4'
    - '3.5'
install:
    - python setup.py install
    - pip install coverage
    - pip install coveralls
script:
    - coverage run --source=random_words setup.py test
after_success:
    - coveralls
sudo: false
matrix:
  allow_failures:
    - python: 3.2
deploy:
  provider: pypi
  user: swiety
  password:
    secure: O1/w8g7QwrUPeMy0l5mnFjs2fgUU5XNyVKTWZywZ2t0X8rDACpkJGpj10jK86zi0EcI0cB/NnOSbyQ1ZvVS9clxIjb082kiunvVRFP4iznjeBg3HZ2mA0etU+bobYj4PvGbmJ4bE5fi5/W6hT0zzW++iHDNbZdstjAjHhjmJHa4=
  on:
    tags: true
    repo: tomislater/RandomWords
    branch: master
